{% extends "navbar.html" %}

{% block titulo %}Tabla de Formas{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h2 class="mb-4">Lista de Formas</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Forma</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
           
            <tr>
                <td>1</td>
                <td>Circular</td>
                <td>Editar Borrar</td>
            </tr>
                   </tbody>
    </table>
</div>
{% endblock %}
